/* THIS IS THE HEADER COMPONENT */

.header {
    background-color: $primary-color;
    margin-top: -2rem;
    text-align: center;

    &__primary-heading{
        color: white;
        padding: 2rem;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}