/* THIS IS THE HEADER COMPONENT */

.header {
  background-color: $primary-color;
  margin-top: -2rem;
  text-align: center;

  &__primary-heading {
    color: white;
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon{
    margin-right: 1rem;
  }
}

/* MAP COMPONENT */
#map {
  height: 100vh;
  margin-top: -1.7rem;
  padding: 0;
}

.body-content {
  display: flex;
  // flex-direction: column;
  &__list {
    flex: 0 0 18%;
  }

  &__map {
    flex: 1;
  }
}

.location-list {
  background-color: $primary-color;
  margin-top: -18px;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  &__item {
    font-size: 1.6rem;
    padding: 1rem 1rem;
    color: white;
    list-style: none;
    word-wrap: break-word;
    cursor: pointer;
  }

  &__input {
    padding: 1rem 2rem;
    border-radius: 2px;
    // background-color: rgba(white, .5);
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    color: inherit;
    margin-bottom: 4rem;
    border-bottom: 3px solid transparent;
    // width: 100%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#fff, 0.1);
      border-bottom: 3px solid $color-grey-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }
}

.legal {
  margin-top: 10rem;
  font-size: 1.8rem;
  padding: 1rem;
  color: white;
  text-align: left;
}

// INFO WINDOW

/*style the box*/  
 